@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

:root{
  --weather-app-background-blue: linear-gradient(135deg,#0f172a,#1e3a8a,#3b82f6);
  --weather-app-primary-text:#ffffff;
  --weather-app-secondary-text:#cbd5e1;
  --weather-app-humidity:#38bdf8;
  --weather-app-temperature:#f59e0b;
  --weather-app-wind:#22c55e;
  --weather-app-rain:#3b82f6;

}
body{
  font-family: 'poppins';
  display:flex;
  justify-content:center;
  align-items:center;
  background:var(--weather-app-background-blue);
  height:100dvh
}
main{
  display:flex;
  gap:1rem;
  padding:1rem;
  background:rgba(255,255,255,0.1);
  border-radius:1rem;
  max-width:70rem;
  box-shadow: -10px 12px 10px rgba(0, 0, 0, 0.3)
}
.search-city input{
  padding:.5rem;
  font-family:inherit;
  border-radius:10px;
  border:none;
  outline:none;
  width:15rem;
}
.search-city button{
  padding:.5rem;
  font-family:inherit;
  border-radius:10px;
  border:none;
  outline:none;
}
.city-weather-conditions{
  display:flex;
  align-items:center;
  justify-content:center;
  height:100%;
  text-align:center;
  flex-direction:column;
  font-family:inherit;
}
.city-name{
  color:var(--weather-app-primary-text);
  font-size: 2.5rem;
  /* line-height: 3.5rem; */
}
.city-time{
  color:var(--weather-app-secondary-text);
  font-size: 2rem;
}
.city-temperature{
  color:var(--weather-app-temperature);
  font-size:2rem;
}
.weather-condition{
  color:var(--weather-app-temperature);
  font-size:1.5rem;
}
  
.search-city{
  text-align:center
}

.hourly-weekly-forecast{
  font-family:inherit;
  display:flex;
  flex-direction:column;
  gap:.5rem;
  margin-inline:1rem;
}

.hourly-forecast{
  display:flex;
  flex-direction:column;
  gap:.3rem;
}

.weekly-forecast{
  display:flex;
  flex-direction:column;
  gap:.3rem;
}
.hour-weather-cards{
  display:flex;
  flex-direction:row;
  gap:.5rem;
}
.weekly-weather-cards{
  display:flex;
  flex-direction:row;
  gap:.5rem;
}

.one-hour{
  background:linear-gradient(45deg,#206499,#f59e0b);
  border-radius:1rem;
  padding:.5rem;
  text-align:center;
  font-family:inherit;
  font-weight: 400;
  color:var(--weather-app-secondary-text);
  box-shadow: -5px 5px 10px rgba(19, 45, 65, 0.8)
}

h2{
  color:var(--weather-app-primary-text);
  font-size: 2rem;
}
.current-wind-humidity{
  display:flex;
  flex-direction:row;
  gap:1.5rem;
  text-align:center;
  font-size: 1rem;
  font-family:inherit;
  color:var(--weather-app-primary-text)

}
.city-humidity, .city-wind{
  display:flex;
  gap:2px;
}